:root {
  --title-color: #FFFFFF;
  --text-color:#757575;
  --name-color: #212121;
  --btn-color: #2196F3;
  --section-color: #2F303A;
  --logo-studio-color: #000000;
  --background-btn-color: #F5F4FA;
  --background-animation:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-animation:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --icon-animation:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-animation:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hide-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--title-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  height: 50px;
  border-radius: 4px;
  border: none;
  color: var(--title-color);
  background-color: var(--btn-color);
  -webkit-transition: var(--background-animation);
  transition: var(--background-animation);
}
@media screen and (max-width: 1199px) {
  .button {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    width: 216px;
  }
}
.button:hover, .button:focus {
  background-color: #188CE8;
}

.btn-share {
  width: 200px;
  height: 50px;
  padding: 0;
  background: #2196F3;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1199px) {
  .btn-share {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .btn-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
    gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .btn-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-title {
    margin-bottom: 32px;
  }
}

.btn {
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;
  background-color: var(--background-btn-color);
  color: var(--name-color);
  -webkit-transition: var(--background-animation), var(--color-animation);
  transition: var(--background-animation), var(--color-animation);
}

.btn-item {
  margin-right: 8px;
}

.btn-item:last-child {
  margin-right: 0;
}

.btn:hover, .btn:focus {
  background-color: var(--btn-color);
  color: var(--title-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.send-btn {
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: var(--title-color);
  background-color: var(--btn-color);
  -webkit-transition: var(--background-animation);
  transition: var(--background-animation);
}
.send-btn:hover, .send-btn:focus {
  background-color: #188CE8;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 150ms linear, visibility 150ms linear;
  transition: opacity 150ms linear, visibility 150ms linear;
}

.footer-sub-icon {
  fill: var(--title-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.model {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: var(--title-color);
}
@media screen and (min-width: 480px) {
  .model {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .model {
    width: 528px;
    height: 581px;
  }
}

.model__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-transition: var(--background-animation);
  transition: var(--background-animation);
}

.close-btn:focus,
.close-btn:hover {
  fill: var(--btn-color);
}

/* form */
.form-info {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .form-info {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .form-info {
    line-height: 1.04;
  }
}

.input-name {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.user__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.user__form-item {
  margin-bottom: 10px;
}
.user__form-item:last-child {
  margin-bottom: 20px;
}

.user__form-name {
  margin-top: 4px;
  height: 40px;
  padding-left: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.user__form-name:last-child {
  padding: 12px 16px;
}
.user__form-name:focus {
  color: var(--btn-color);
  border-color: var(--btn-color);
  outline: 0;
  outline-offset: 0;
  -webkit-transition: var(--background-animation);
  transition: var(--background-animation);
}

.user__form-name:focus ~ .form-icon {
  fill: #188CE8;
}

.comments {
  display: inline-block;
  height: 120px;
  resize: none;
}

.treaty {
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--btn-color);
}

.agreement {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  cursor: pointer;
}

.agreement__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 22px;
  margin-bottom: 30px;
  cursor: pointer;
}
@media screen and (min-width: 480px) {
  .agreement__text {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
  }
}

.check-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  -webkit-transition: var(--background-animation);
  transition: var(--background-animation);
}

.check-icon .checked {
  opacity: 0;
}

.check-icon .unchecked {
  opacity: 1;
}

.checkbox:checked + .check-icon .unchecked {
  opacity: 0;
}

.checkbox:checked + .check-icon .checked {
  opacity: 1;
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--name-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--btn-color);
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 48px 40px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-title {
  margin-bottom: auto;
}

.menu-item {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: var(--name-color);
}

.menu-nav {
  margin-bottom: 64px;
}

.menu-mail-item {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: var(--btn-color);
}

.menu-phone-link {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--btn-color);
  gap: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.menu-current {
  color: var(--btn-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation__title {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .navigation__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__title-tab {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__title-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__title-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item-tab {
  margin-right: 50px;
}
.navigation__item-tab:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__item-tab {
    margin-right: 0;
  }
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--name-color);
  -webkit-transition: var(--color-animation);
  transition: var(--color-animation);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--btn-color);
}

.navigation__link-tab {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--name-color);
  -webkit-transition: var(--color-animation);
  transition: var(--color-animation);
}
.navigation__link-tab:hover, .navigation__link-tab:focus {
  color: var(--btn-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__link-tab {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
    margin-left: auto;
  }
  .navigation__link-tab:last-child {
    margin-bottom: 0;
  }
}

.navigation__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo-webstudio {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  Line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .logo-webstudio {
    font-size: 26px;
  }
}

.logo-web {
  color: var(--btn-color);
}

.logo-studio {
  color: var(--logo-studio-color);
}

.logo-studio-footer {
  color: var(--title-color);
}

li > .current {
  color: var(--btn-color);
  position: relative;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--btn-color);
  bottom: 0;
  border-radius: 2px;
}

.info {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
  font-style: normal;
  text-align: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.footer__location {
  font-style: normal;
  font-weight: 1.7;
  color: var(--title-color);
}

.order {
  background-color: var(--section-color);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-img/img_s.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img/img_s.jpg);
}
@media screen and (max-width: 1199px) {
  .order {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order {
    background-image: url(../img/hero-img/img_s@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .order {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-img/img_m.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img/img_m.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .order {
    background-image: url(../img/hero-img/img_m@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .order {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-img/img_l.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img/img_l.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .order {
    background-image: url(../img/hero-img/img_l@2x.jpg);
  }
}

.order__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  color: var(--title-color);
}
@media screen and (min-width: 480px) {
  .order__title {
    font-size: 26px;
    line-height: 1.61;
  }
}
@media screen and (min-width: 1200px) {
  .order__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 480px) {
  .feature {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-align: left;
  color: var(--name-color);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .feature__name {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .feature__title {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .feature__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .feature__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .feature__item {
    margin-bottom: 30px;
  }
  .feature__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature__item {
    margin-right: 30px;
  }
  .feature__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .feature__item:last-child {
    margin: 0;
  }
}

.feature__text {
  line-height: 1.71;
}
@media screen and (min-width: 768px) {
  .feature__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__text {
    width: 270px;
  }
}

.feature__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .feature__bloc {
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .feature__bloc {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__bloc {
    width: 270px;
    height: 140px;
  }
}

.offer {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199.98px) {
  .offer {
    display: none;
  }
}

.offer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__item {
  margin-right: 30px;
  position: relative;
}
.offer__item:last-child {
  margin: 0;
}

.offer__box {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.offer__name {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
}

.btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__name {
  font-size: 28px;
  line-height: 1.16;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--name-color);
}
@media screen and (min-width: 1200px) {
  .section__name {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__section {
  background-color: var(--background-btn-color);
}

@media screen and (min-width: 480px) {
  .team__title {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .team__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__item {
    margin-right: 0;
    margin-bottom: 30px;
    width: 450px;
  }
  .team__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 354px;
  }
  .team__item:nth-child(2n) {
    margin-right: 0px;
  }
  .team__item:nth-child(n+3) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    margin-right: 30px;
    width: 270px;
  }
  .team__item:last-child {
    margin-right: 0;
  }
}

.employee {
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-radius: 0px 0px 4px 4px;
  padding: 30px 0;
  background-color: var(--title-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .employee {
    width: 354px;
    padding: 30px 0 26px 0;
  }
}

.employee__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--name-color);
}

.direction {
  font-size: 16px;
  line-height: 1.46;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__text {
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-color);
}

.social__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--title-color);
  -webkit-transition: var(--background-animation);
  transition: var(--background-animation);
}
.social__link:focus, .social__link:hover {
  background-color: var(--btn-color);
}

.social__link:focus .social__icon,
.social__link:hover .social__icon {
  fill: var(--title-color);
}

.social__icon {
  fill: #AFB1B8;
  -webkit-transition: var(--icon-animation);
  transition: var(--icon-animation);
}

@media screen and (min-width: 480px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .client__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .client__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .client__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  -webkit-transition: var(--color-animation), var(--border-animation);
  transition: var(--color-animation), var(--border-animation);
}
.client__link:focus, .client__link:hover {
  border-color: var(--btn-color);
  color: var(--btn-color);
}
@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
    height: 92px;
  }
}

.client__icon {
  fill: currentColor;
}

.project__list {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .project__list {
    padding: 94px 0;
  }
}

.project__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__title {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .project__info {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .project__info {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project__info {
    width: 370px;
  }
}

.project__info-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__info-hover,
.project__link:focus .project__info-hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__name {
  font-size: 16px;
  line-height: 1.87;
}

.project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--name-color);
}

.project__box {
  display: block;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 0 20px 24px;
}

footer {
  background-color: var(--section-color);
}

.nav__footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .nav__footer {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .nav__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.footer__item {
  margin-bottom: 9px;
}
.footer__item:last-child {
  margin: 0;
}
@media screen and (max-width: 1199px) {
  .footer__item {
    display: inline-block;
    text-align: center;
  }
}

.social {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .social {
    margin-right: 93px;
  }
}

.social__footer {
  display: block;
}
@media screen and (max-width: 767px) {
  .social__footer {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .social__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .social__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .footer__contact {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contact {
    margin-right: 165px;
    margin-left: 61px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    margin-right: 70px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__title {
  width: 231px;
}
@media screen and (max-width: 1199px) {
  .footer__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

li > .social-link-footer {
  background: rgba(255, 255, 255, 0.1);
}

.social-icon-footer {
  fill: #FFFFFF;
}

.subscribe {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-color);
}
@media screen and (max-width: 767px) {
  .subscribe {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    justify-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 1199px) {
  .share {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.mail-form {
  margin-top: 20px;
  gap: 12px;
}
@media screen and (max-width: 767px) {
  .mail-form {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .mail-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.user-mail {
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 16px;
}
@media screen and (max-width: 1199px) {
  .user-mail {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .user-mail {
    width: 358px;
  }
}/*# sourceMappingURL=main.css.map */