
// .section__name {
//     font-size: 28px;
//     line-height: 1.16;
//     margin-bottom: 30px;
//     display: flex;
//     justify-content: center;

//     color: var(--name-color);

//     @media screen and (min-width: 1200px) {
//         margin-bottom: 50px;
//         font-size: 36px;
//     }
// }

.img {
    display: block;
    max-width: 100%;
    height: auto;
}
